main{
    min-height: calc(100vh - 86px - 155px);
}
.main{

}
.mainTitle{
    margin: 64px auto 48px;
}
.heading{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}
.headingImg{
    margin: 0 16px;
}


.container{
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 380px;
    height: 403px;
}

@media screen and (max-width: 1200px){
    .container{

    }
}
@media screen and (max-width: 992px){
    .container{
        width: 80%;
    }
}