.product{
    width: 380px;
    height: 403px;
    float: left;
    width: 30%;
    margin-right: 30px;
}
.productInfo{
    /*display: flex;*/
    flex-direction: column;
    position: relative;
}
.productTitle{
    /*margin: 55px 0 0 24px;*/
    position: absolute;
    top: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.productPrice{
    /*margin: 80px 0 0 0;*/
    position: absolute;
    top: 55px;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
}



@media screen and (max-width: 1200px){
    .product{
        width: 380px;
        height: 403px;
        float: left;
        width: 45%;

    }
}
@media screen and (max-width: 992px){
    .product{
        width: 380px;
        height: 403px;
        float: left;
        width: 100%;
    }
}
