.product{
    /*width: 380px;*/
    height: 403px;
    float: left;
    width: 30%;
    margin-right: 30px;
}
.productImg{
    margin-bottom: 60px;
}
.productInfo{
    display: flex;
    flex-direction: column;
    height: 98px;
    text-align: left;
}
.productTitle{


    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: black;
    float: left;
}
.productPrice{
    /*margin: 80px 0 0 0;*/
    /*position: absolute;*/
    /*top: 55px;*/


    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
    float: left;
}



@media screen and (max-width: 1200px){
    .product{
        /*width: 380px;*/
        /*height: 403px;*/
        float: left;
        width: 40%;

    }
}
@media screen and (max-width: 992px){
    .product{
        /*width: 380px;*/
        /*height: 403px;*/
        float: left;
        width: 50%;
    }
}
@media screen and (max-width: 700px){
    .product{
        /*width: 380px;*/
        /*height: 403px;*/
        float: left;
        width: 100%;
    }
}